:root {
    --cor-primaria: #052659;
    --cor-segundaria: #041f45;
    --verde: #198754;
    --verde-escuro: #105937;
}

body{
    background: radial-gradient(#5483b3, var(--cor-segundaria));
}

input, select{
    border: var(--cor-primaria) 1px solid !important;
}

/* pesquisa */
.btn-search, 
.accordion-button,
.accordion-button:not(.collapsed){
    background-color: var(--cor-primaria);
    color: #fff;
}
.btn-search:hover, 
.btn-mostra-filtro:hover{
    background-color: var(--cor-segundaria);
    color: #dddddd;
}
.titulo-search{
    color: var(--cor-primaria);
}
.accordion-button::after,
.accordion-button:not(.collapsed)::after{
    background-image: url('seta.png');
}
.mostra-filtro{
    width: 180px;
}

/* lista de tarefas */
#listaTarefas{
    overflow-y: scroll;
    height: 250px;
}

/* Edição */
.text-edit{
    color: var(--cor-primaria);
    font-weight: 500;
}